.box {
  height: 110px;
  position: relative;
  width: 36px;
}
.box .pagination-box {
  height: 110px;

  width: 36px;
}

.box .pagination {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  left: 26px;
  position: absolute;
  top: 0;
}
.box .text-wrapper {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 14px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  @apply text-gray-400;
}

.box .div {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 14px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  @apply text-gray-400;
}
.box .text-wrapper-2 {
  color: #ffffff;

  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 14px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.box .rectangle {
  border-radius: 6px;
  height: 3px;
  left: 0;
  position: absolute;
  top: 53px;
  width: 20px;
  @apply bg-white;
}
